.qrr_scanner {
    width: 14rem;
    height: 14rem;
    overflow: hidden;
    position: absolute;
    left: 18rem;
    top: 2rem;
    z-index: 100;
    border-radius: 1rem;
    transform: rotate(-90deg);

}