.shopr90-container {

    
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
    transform: rotate(180deg);

    .logo-r {
        width: 12rem;
        height: 20rem;
        //width: 5vw;
        //height: 5vw;
        overflow: hidden;
        background-color: transparent;
        position: absolute;
        left: 5rem;
        bottom: 12rem;

        .logo-img-r {

            width: 100%;
            height: 100%;
        }
    }



    .item-container {
        
        height: 100%;
        //width: 95vw;
        position: absolute;
        background-color: antiquewhite;
        left: 10vw;
        top: -6rem;

        .item-container-inner {
            position: relative;
            //width: 100%;
            height: 98%;

            .item-1-container {

                
                position: absolute;
                    height: 25rem;
                    bottom: 3rem;
                .item-1 {
                    height: 25rem;
                    
                }
            }

            .item-2-container {

                
                position: absolute;
                    height: 25rem;
                    bottom: 32.5rem;
                .item-2 {
                    height: 25rem;
                    
                }
            }

            .item-3-container {

                
                position: absolute;
                    height: 25rem;
                    bottom: 62rem;
                .item-3 {
                    height: 25rem;
                    
                }
            }



            .item-4-container {

                
                position: absolute;
                    height: 25rem;
                    left: 27rem;
                    bottom: 3rem;
                .item-4 {
                    height: 25rem;
                    
                }
            }

            .item-5-container {

                
                position: absolute;
                    height: 25rem;
                    left: 27rem;
                    bottom: 32.5rem;
                .item-5 {
                    height: 25rem;
                    
                }
            }

            .item-6-container {

                
                position: absolute;
                    height: 25rem;
                    left: 27rem;
                    bottom: 62rem;
                .item-6 {
                    height: 25rem;
                    
                }
            }

            .item-7-container {

                
                position: absolute;
                    height: 25rem;
                    left: 54rem;
                    bottom: 3rem;
                .item-7 {
                    height: 25rem;
                    
                }
            }

            .item-8-container {

                
                position: absolute;
                    height: 25rem;
                    left: 54rem;
                    bottom: 32.5rem;
                .item-8 {
                    height: 25rem;
                    
                }
            }

            .item-9-container {

                
                position: absolute;
                    height: 25rem;
                    left: 54rem;
                    bottom: 62rem;
                .item-9 {
                    height: 25rem;
                    
                }
            }

            .item-10-container {

                
                position: absolute;
                    height: 25rem;
                    left: 81rem;
                    bottom: 3rem;
                .item-10 {
                    height: 25rem;
                    
                }
            }

            .item-11-container {

                
                position: absolute;
                    height: 25rem;
                    left: 81rem;
                    bottom: 32.5rem;
                .item-11 {
                    height: 25rem;
                    
                }
            }

            .item-12-container {

                
                position: absolute;
                    height: 25rem;
                    left: 81rem;
                    bottom: 62rem;
                .item-12 {
                    height: 25rem;
                    
                }
            }

            .item-13-container {

                
                position: absolute;
                    height: 25rem;
                    left: 108rem;
                    bottom: 3rem;
                .item-13 {
                    height: 25rem;
                    
                }
            }

            .item-14-container {

               
                position: absolute;
                    height: 25rem;
                    left: 108rem;
                    bottom: 32.5rem;
                .item-14 {
                    height: 25rem;
                    
                }
            }

            .item-15-container {

               
                position: absolute;
                    height: 25rem;
                    left: 108rem;
                    bottom: 62rem;
                .item-15 {
                    height: 25rem;
                    
                }
            }
        }
    }


    
}