.section-home {

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .bg-image-container {
        overflow: hidden;
        height: 100%;
        width: 100%;

        .bg-image {
            height: 100%;
            width: 100%;
            object-fit: fill;
            overflow: hidden;
        }
    }

}